/* dragula */
.gu-mirror{position:fixed!important;margin:0!important;z-index:9999!important;opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80)}.gu-hide{display:none!important}.gu-unselectable{-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important}.gu-transit{opacity:.2;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter:alpha(opacity=20)}

/* container */
.medialibrary {
    @apply relative;
    @apply text-gray-700;
}

.medialibrary * {
    @apply relative;
}

/* when cloning */
.medialibrary-item * {
    @apply relative;
}

.medialibrary-item.gu-mirror {
    @apply border-2;
    @apply border-gray-300;
    @apply shadow-xl;
}

/* uploader */
.medialibrary-add {
    @apply flex;
}

.medialibrary-replace,
.medialibrary-replace .medialibrary-dropzone,
.medialibrary-replace .medialibrary-placeholder {
    @apply absolute;
    @apply inset-0;
    @apply w-full;
    @apply h-full;
    @apply m-0;
}

/* items */
.medialibrary-multiple .medialibrary-items {
    @apply border-2;
    @apply border-gray-300;
    @apply rounded-lg;
    @apply overflow-hidden;
}

.medialibrary-item {
    @apply flex;
    @apply items-center;
    @apply min-w-0;
}

.medialibrary-item-row:not(:last-child) {
    @apply border-b;
    @apply border-gray-300;
}

.medialibrary-item-row:first-child {
    @apply rounded-t-lg;
}

.medialibrary-item-row:last-child {
    @apply rounded-b-lg;
}


.medialibrary-row-drag {
    @apply self-stretch;
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply justify-center;
    @apply w-8;
    @apply bg-gray-200;
    @apply bg-opacity-50;
    @apply border-r;
    @apply border-gray-300;
    @apply cursor-move;
    @apply text-gray-500;
}

.medialibrary-row-drag:hover {
    @apply text-indigo-500;
}

.medialibrary-row-remove {
    @apply absolute;
    @apply right-0;
    @apply top-0;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply h-12;
    @apply w-12;
    @apply text-gray-500;
    @apply cursor-pointer;
    @apply opacity-50;
    @apply cursor-pointer;
}

.medialibrary-row-remove:hover {
    @apply opacity-100;
    @apply transition-opacity;
    @apply duration-300;
}

/* Invalid media, aka failed uploads */

.medialibrary-listerrors {
    @apply border-2;
    @apply border-red-300;
    @apply border-opacity-50;
    @apply bg-red-200;
    @apply bg-opacity-50;
    @apply text-xs;
    @apply mb-6;
    @apply rounded-lg;
    @apply overflow-hidden;
}

.medialibrary-listerror {
    @apply flex;
    @apply items-start;
}

.medialibrary-listerror:not(:last-child) {
    @apply border-b-2;
    @apply border-red-300;
    @apply border-opacity-25;
}

.medialibrary-listerror-icon {
    @apply self-stretch;
    @apply py-3;
    @apply mx-4;
    @apply w-8;
    @apply flex;
    @apply justify-center;
}

.medialibrary-filled.medialibrary-sortable .medialibrary-listerror-icon {
    @apply ml-0;
    @apply mr-4;
    @apply bg-red-200;
    @apply bg-opacity-50;
    @apply border-r;
    @apply border-red-200;
}

.medialibrary-listerror-content {
    @apply flex-grow;
    @apply pr-12;
}

.medialibrary-listerror-title {
    @apply text-red-600;
    @apply h-12;
    @apply flex;
    @apply items-center;
}

.medialibrary-listerror-items {
    @apply -mt-2;
    @apply border-t;
    @apply border-red-300;
    @apply border-opacity-25;
}

.medialibrary-listerror-item {
    @apply flex;
    @apply items-center;
    @apply py-3;
}

.medialibrary-listerror-thumb {
    @apply flex-none;
    @apply w-6;
    @apply h-6;
    @apply mr-3;
    @apply rounded-full;
    @apply overflow-hidden;
}

.medialibrary-listerror-thumb:after {
    content: '';
    @apply absolute;
    @apply inset-0;
    @apply border;
    @apply border-red-600;
    @apply border-opacity-50;
}

.medialibrary-listerror-text {
    @apply truncate;
}

/* thumb */
.medialibrary-thumb {
    @apply relative;

    @apply flex-none;
    @apply w-32;
    @apply h-32;
    @apply m-4;
    @apply rounded-full;
    @apply overflow-hidden;
    @apply shadow-lg;
}

.medialibrary-single .medialibrary-thumb {
    @apply m-0;
    @apply mr-4;
}

.medialibrary-thumb-img {
    @apply w-full;
    @apply h-full;
    @apply object-cover;
    @apply overflow-hidden;
}

.medialibrary-thumb-extension {
    @apply w-full;
    @apply h-full;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply bg-white;
}

.medialibrary-thumb-extension-truncate {
    @apply max-w-full;
    @apply truncate;
    @apply font-semibold;
    @apply uppercase;
    @apply text-gray-500;
    @apply text-xs;
}

/* placeholder */
.medialibrary-placeholder {
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply w-16;
    height: calc(4rem - 4px);
}

/* help */
.medialibrary-help {
    @apply text-xs;
    @apply text-gray-600;
}

.medialibrary-help-clear {
    @apply px-2;
    @apply opacity-75;
    @apply cursor-pointer;
}

.medialibrary-help-clear:hover {
    @apply opacity-100;
    @apply transition-opacity;
    @apply duration-300;
}

/* dropzone */
.medialibrary-dropzone {
    @apply appearance-none !important;
    @apply flex;
    @apply items-center;
    @apply border-2;
    @apply border-gray-600;
    @apply border-opacity-25;
    @apply transition-colors;
    @apply duration-300;
    @apply flex-grow;
    
}

.medialibrary-filled .medialibrary-add .medialibrary-dropzone {
    @apply mt-6;
}

.medialibrary-dropzone,
.medialibrary-add .medialibrary-progress-wrap {
    @apply rounded-lg;
    @apply overflow-hidden;

}


.medialibrary-dropzone-add {
    @apply border-dashed;
    @apply bg-gray-100;
}

.medialibrary-dropzone-replace {
    @apply border-solid;
}

.medialibrary-dropzone:not(:disabled):hover,
.medialibrary-dropzone-drag {
    @apply bg-indigo-300;
    @apply bg-opacity-25;
    @apply border-indigo-600;
    @apply border-opacity-25;
}

.medialibrary-dropzone:not(:disabled):active,
.medialibrary-dropzone:not(:disabled):focus,
.medialibrary-dropzone-drop {
    @apply outline-none;
    @apply bg-indigo-300;
    @apply bg-opacity-50;
    @apply border-indigo-600;
    @apply border-opacity-25;
}

.medialibrary-dropzone:disabled {
    @apply bg-red-300;
    @apply bg-opacity-25;
    @apply border-red-600;
    @apply border-opacity-25;
    @apply cursor-not-allowed;
}

/* properties */
.medialibrary-properties {
    @apply text-xs;
    @apply text-gray-600;
    @apply flex-grow;
    @apply min-w-0;
    @apply mr-4;
    @apply my-4;
}

.medialibrary-single .medialibrary-properties {
    @apply my-0;
}

.medialibrary-properties-fixed {
    @apply w-32;
    @apply flex-grow-0;
}

.medialibrary-property {
    @apply truncate;
    @apply text-gray-500;
}

/* Field */

.medialibrary-field {
    @apply overflow-hidden;
    @apply my-2;
}

.medialibrary-field-error {
    @apply mt-1;
    @apply text-red-600;
}

.medialibrary-label {
    @apply block;
    @apply text-xs;
    @apply text-gray-500;
    @apply pr-2;
}

.medialibrary-input {
    @apply flex-1;
    @apply w-full;
    @apply text-xs;
    @apply text-gray-800;
    @apply rounded-sm;
    @apply bg-gray-200;
    @apply px-2;
    @apply py-1;
}

.medialibrary-input:focus {
    @apply outline-none;
    @apply bg-indigo-100;
}

/* rounded buttons */
.medialibrary-button {
    @apply w-6;
    @apply h-6;
    @apply shadow;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply rounded-full;
    @apply leading-none;
    @apply duration-100;
    @apply transition-all;
    @apply border;
    @apply border-gray-400;
    @apply border-opacity-75;
    @apply z-10;
}

.medialibrary-sortable .medialibrary-button {
    @apply w-5;
    @apply h-5;
}

.medialibrary-button-info {
    @apply bg-white;
    @apply text-indigo-500;
}

.medialibrary-button-warning {
    @apply bg-white;
    @apply text-red-500;
}

.medialibrary-button-error {
    @apply bg-red-500;
    @apply text-white;
    @apply border-red-400;
}

.medialibrary-button-success {
    @apply bg-green-500;
    @apply text-white;
}

.medialibrary-replace .medialibrary-button {
    @apply opacity-0;
}

.medialibrary-dropzone:not(:disabled):hover .medialibrary-placeholder .medialibrary-button,
.medialibrary-dropzone:not(:disabled):focus .medialibrary-placeholder .medialibrary-button,
.medialibrary-dropzone-drag + .medialibrary-placeholder .medialibrary-button {
    @apply opacity-100;
    @apply shadow-md;
}

.medialibrary-dropzone:not(:disabled):active .medialibrary-placeholder .medialibrary-button,
.medialibrary-dropzone-drop .medialibrary-placeholder .medialibrary-button {
    @apply opacity-100;
    @apply shadow-inner;
}

/* icon */

.medialibrary-icon {
    @apply w-6;
    @apply h-6;
}

.medialibrary-icon-fill {
    fill: currentColor;
}

/* progress */

.medialibrary-progress-wrap {
    @apply absolute;
    @apply inset-0;
    @apply w-full;
    @apply h-full;
    @apply px-3;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply bg-gray-300;
    @apply bg-opacity-50;
    @apply z-10;
    @apply opacity-0;
    @apply transition-opacity;
    @apply duration-300;
    @apply pointer-events-none;
    @apply rounded-full;
    @apply overflow-hidden;
}

.medialibrary-progress-wrap-loading {
    @apply opacity-100;
}

.medialibrary-progress {
    @apply appearance-none;
    @apply h-1;
    @apply w-full;
    @apply max-w-md;
    @apply bg-white;
    @apply rounded-full;
    @apply shadow;
}

.medialibrary progress::-webkit-progress-bar {
    @apply appearance-none;
    @apply rounded-full;
    @apply bg-white;
}

.medialibrary progress::-moz-progress-bar {
    @apply h-full;
    @apply bg-indigo-500;
}

.medialibrary progress::-webkit-progress-value {
    @apply h-full;
    @apply bg-indigo-500;
}

/* text styles */

.medialibrary-text-separator {
    @apply opacity-50;
    @apply px-1;
}

.medialibrary-text-success {
    @apply text-green-600;
}

.medialibrary-text-error {
    @apply text-red-600;
}

.medialibrary-text-link {
    @apply underline;
    @apply cursor-pointer;
}

/* ported utilities */

.medialibrary-hidden {
    @apply hidden;
}
